<div class="pagebody everything">
  <div class="grid">
    <div class="grid-item">
      <div class="card">
        <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
        <div class="card-content">
          <h1 class="card-header">Truck Name</h1>
          <p class="card-text">Truck description</p>
          <button class="card-btn">More info<span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
        <div class="card-content">
          <h1 class="card-header">Truck Name</h1>
          <p class="card-text">Truck description</p>
          <button class="card-btn">More info<span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
        <div class="card-content">
          <h1 class="card-header">Truck Name</h1>
          <p class="card-text">Truck description</p>
          <button class="card-btn">More info<span>&rarr;</span></button>
        </div>
      </div>
    </div>
      <div class="grid-item">
      <div class="card">
        <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
        <div class="card-content">
          <h1 class="card-header">Truck Name</h1>
          <p class="card-text">Truck description</p>
          <button class="card-btn">More info<span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
        <div class="card-content">
          <h1 class="card-header">Truck Name</h1>
          <p class="card-text">Truck description</p>
          <button class="card-btn">More info<span>&rarr;</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
