<h1><%= @truck.name.upcase %></h1>
<br>
<h4><%= "Description"%></h4>
<p><%= "#{@truck.description}" %></p>
<h4><%="Daily Rental Cost" %></h4>
<p><%= "£#{@truck.daily_fee }"%></p>
<h4><%="location" %></h4>
<p><%= "#{@truck.location }"%></p>
<h4><%="owner" %></h4>
<p><%= "#{@truck.owner.email }"%></p>

<%= form_with(model: [@truck, @booking], url: new_truck_booking_path(@truck), method: :get) do |form| %>
  <%= form.label :start_date %>
  <%= form.date_field :start_date %>
  <%= form.label :end_date %>
  <%= form.date_field :end_date %>

  <%= form.submit "BOOK THIS TRUCK" %>
<% end %>




<%= link_to("HOME PAGE", root_path) %>
<br>
<%= link_to("VIEW MORE TRUCKS", trucks_path ) %>
