<body class="userbody">
  <div class="usercard" style="width: 1086px;">

    <h1 class="username"><%= "#{@truck.name}'s YARD" %></h1>
    <div>
        <%= form_with(model: [@truck, @booking], url: truck_bookings_path(@truck)) do |form| %>
        <%= form.label :start_date %>
        <%= form.date_field :start_date %>
        <%= form.label :end_date %>
        <%= form.date_field :end_date %>
        <%= form.submit "BOOK THIS TRUCK" %>
        <% end %>
    </div>
     <div class="useractivity">
      <div class="bookingscard", id="item">
          <%= image_tag('mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'truck_image') %>
      </div>
      <div class="rentalscard", id="item">
        <h2>Truck Details</h2>
        <h4 class="letters"><%= "Description"%></h4>
        <p class="card-text"><%= "#{@truck.description}" %></p>
        <hr class="card-line">
        <h4 class="card-title"><%="Daily Rental Cost" %></h4>
        <p class="card-text"><%= "£#{@truck.daily_fee }"%></p>
        <hr class="card-line">
        <h4 class="card-title"><%="location" %></h4>
        <p class="card-text"><%= "#{@truck.location }"%></p>
      </div>
    </div>
  </div>
</body>
