<h1>Booking Confirmation</h1>

<p>Truck: <%= @booking.truck_id %></p>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p>Total Price: <%= "#{@booking.total_cost}" %>
<br>

<br>
<%= link_to("HOME PAGE", root_path) %>
<br>
<%= link_to("VIEW MORE TRUCKS", trucks_path ) %>
