<p class="navbar-text float-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></strong>
    <br>
    <%= link_to("User Area", user_area_path) %> |
    <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-link"  %> |
    <%= link_to("HOME PAGE", root_path) %> |
    <%= link_to("VIEW ALL TRUCKS", trucks_path) %> |
    <%= link_to("RENT YOUR TRUCK", new_truck_path) %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |
    <%= link_to "Login", new_user_session_path, class: "navbar-link"  %>
  <% end %>
</p>
