<body class="userbody">
  <div class="usercard">
    <h1 class="username"><%= "#{@user.first_name} #{@user.last_name}'s YARD" %></h1>
    <p class="userdetails"><%= link_to "CHANGE DETAILS", edit_user_registration_path, class: "editdetails" %>
     <div class="useractivity">
      <div class="bookingscard", id="item">
        <h2>YOUR BOOKINGS</h2>
        <% if @bookings.empty? %>
          <p>No Bookings Made Yet</p>
        <% else %>
          <% @bookings.each do |booking|  %>
        <div class="bookings" >
            <p><%= link_to("#{booking.truck.name}", truck_path(booking.truck.id), class: "truckname")%></p>
            <p><%= "Booking Made On: #{booking.created_at}" %></p>
            <p><%= "Total Price: £#{booking.total_cost}" %></p>
            <p><%= "Truck Owner: #{booking.truck.owner_id}" %></p>
            <p><%= "Booking Reference: #{booking.id}" %></p>
        </div>
          <% end %>
        <% end %>
      </div>
      <% if @rented.empty? %>
        <!-- Rentals are empty, do not render the card -->
      <% else %>
      <div class="rentalscard", id="item">
        <h2>YOUR RENTALS</h2>
        <% @rented.each do |rented_truck| %>
          <div class="rentals">
            <%= "Truck Name: #{rented_truck}" %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</body>
