<h1><%= "#{@user.first_name} #{@user.last_name}'s AREA" %></h1>

<h2>YOUR DETAILS</h2>
<p><%= "User ID: #{@user.id}" %></p>
<p><%= "Email Address: #{@user.email}" %></p>
<%= link_to "CHANGE DETAILS", edit_user_registration_path, class: "navbar-link" %>
<br>
<br>
<h2>YOUR BOOKINGS</h2>
<% if @bookings.empty? %>
  <p>No Bookings Made Yet</p>
<% else %>
  <% @bookings.each do |booking|  %>
    <p><%= "Booking ID: #{booking.id}" %></p>
    <p><%= "Truck Name: #{booking.truck.name}" %></p>
    <p><%= "Booking Made On: #{booking.created_at}" %></p>
    <p><%= "Total Price: £#{booking.total_cost}" %></p>
    <p><%= "Truck Owner: #{booking.truck.owner_id}" %></p>
    <br>
  <% end %>
<% end %>
<h2>YOUR RENTALS</h2>
<% @trucks.each do |truck| %>
  <% if truck.owner_id.to_s == @user.id.to_s %>
    <%= "Truck Name: #{truck.name}" %>
    <br>
  <% end %>
<% end %>
