<!DOCTYPE html>
<html>
  <head>
    <title>MonsterBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<nav class="navbar-lewagon">
  <a class ="nav-left" href="/">MonstAir BnB</a>

  <%= form_tag(search_trucks_path, method: "get") do %>
    <%= label_tag(:q, "Location:") %>
    <%= text_field_tag(:location) %>
    <%= label_tag(:q, "daily_fee:") %>
    <%= text_field_tag(:daily_fee) %>
    <%= submit_tag("Search") %>
  <% end %>

  <div class="nav-right">
    <div>
      <% if current_user %>
        <p>Hi <%= current_user.email %></p>
        <%= link_to trucks_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Log OOF", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>


</nav>

    <%= yield %>


  </body>
</html>
