<!DOCTYPE html>
<html>
  <head>
    <title>MonsterBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<nav class="navbar-lewagon">
  <p class ="nav-left">
    MonstAir BnB
  </p>

  <%= form_tag(search_trucks_path, method: "get") do %>
    <%= label_tag(:q, "Location:") %>
    <%= text_field_tag(:location) %>
    <%= submit_tag("Search") %>
  <% end %>

  <i class="fa-solid fa-user nav-right"></i>
</nav>

    <%= yield %>
  </body>
</html>
